{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 2 Chrome versions",
          "last 2 Firefox versions",
          "last 2 Safari versions",
          "last 2 Edge versions",
          "last 2 iOS versions",
          "last 2 ChromeAndroid versions"
        ],
        "node": "10.15"
      }
    }],
    "@babel/react"
  ],
  "plugins": [
    "dev-expression",
    ["react-intl", { "messagesDir": "./build/messages/" }]
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "istanbul", {
            "include": [
              "src/**/*.+(js|jsx)"
            ]
          }
        ]
      ]
    }
  }
}
