{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "dev-expression",
    [
      "react-intl", {
        "messagesDir": "./build/messages/"
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "istanbul", {
            "include": [
              "src/**/*.(js|jsx)"
            ]
          }
        ]
      ]
    }
  }
}
