{
  "extends": [
    "airbnb"
  ],
  "rules": {
    // TODO: Rationalize prop definitions -- add isRequired where needed, and add defaults
    // elsewhere. For now turn off this rule.
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off"
  }
}
