{
  "extends": [
    "airbnb",
    "plugin:jsx-a11y/strict"
  ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "plugins": [
    "jsx-a11y"
  ],
  "rules": {
    // TODO: Rationalize prop definitions -- add isRequired where needed, and add defaults
    // elsewhere. For now turn off this rule.
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    // TODO: Use more specific prop types where needed.
    "react/forbid-prop-types": "off"
  }
}
