{
  "extends": [
    "airbnb"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    // Allow Immutable.List() and Immutable.Map() without new
    "new-cap": ["error", { "capIsNew": false }],
    // Allow object propTypes
    "react/forbid-prop-types": ["error", { "forbid": ["any", "array"] }]
  }
}
