.common {
  margin-bottom: 50px;
}

.common ul {
  display: inline-table;
  margin: 0;
  padding: 0;
}

.common li {
  display: table-row;
}

.common li > * {
  display: table-cell;
  padding-right: 1em;
}
