.common {
  display: inline-block;
  height: 31px;
  box-sizing: border-box;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 6px 10px 3px 10px;
  text-decoration: none;
  color: #73AA4F;
  cursor: default;
}

.common:not(.active) {
  background-color: rgba(156, 185, 211, .2);
  box-shadow: inset 0px -1px rgba(172, 172, 172, .1);
}

.common:not(.active):hover {
  background-color: rgba(255, 255, 255, .5);
}

.active {
  background-color: white;
}
