.common {
  display: flex;
  background-color: white;
}

.common > div {
  width: 30%;
  margin: 10px 10px 10px 0;
  background-color: rgb(250, 250, 250);
  padding-right: 1px;
}

.common > :global(.cspace-ui-RecordEditor--common) {
  padding-right: 0;
}
