.common {
  display: flex;
  align-items: center;
  width: 70%;
}

.common > :global(.cspace-ui-Logo--common) {
  flex: 0 1 auto;
  overflow: hidden;

  margin-right: 22px;
  /*
   * margin-bottom is used here to vertically center the x-height of 'CollectionSpace' in its
   * container, since the ascenders of the font are taller than the descenders ('l' vs. 'p'). If
   * the logo is changed, this may need to be removed/changed to align the new logo nicely with the
   * rest of the banner.
   */
  margin-bottom: 6px;
}

.common > :global(.cspace-ui-Logo--common) > a > img {
  max-height: 44px;
  object-fit: scale-down;
}

.common > fieldset {
  flex: 1 0 auto;
  margin: 0;
  border: none;
  padding: 0;
}

.common > div {
  flex: 0 0 auto;
}
