.common > ul {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

.common > ul > li {
  display: flex;
  align-items: baseline;
}

.common > ul > li > *:first-child {
  width: 50px;
  margin-right: 4px;
  text-align: center;
}

.common > div :global(.cspace-input-DropdownMenuInput--common) {
  display: inline-block;
  width: 50px;
  margin-right: 4px;
}
