.common {
  flex: 0 0 auto;
  padding: 0;
}

.common > * + * {
  margin-left: 4px;
}

.common > *:last-child {
  margin-right: 14px;
}

.common > a + * {
  margin-left: 10px;
}

footer > .common {
  text-align: right;
}
