.common {
  padding: 0;
}

.common > div {
  display: inline-block;
  position: relative;
}

.common > * + * {
  margin-left: 4px;
}

.common > a + * {
  margin-left: 10px;
}

footer > .common {
  text-align: right;
}
