.common {
  display: flex;
  flex-grow: 0;
  text-decoration: none;
  margin: 0 10px 7px 0;
  background-color: rgba(230, 230, 230, .4);
  align-items: center;
}

.common > img {
  display: block;
  text-align: center;
  max-width: 100px;
  max-height: 100px;
}

.common > img::before {
  display: block;
  width: 100px;
  content: "";
}
