.common {
  padding: 10px 20px 20px 10px;
  flex: 1 1 auto;
}

.common + .common {
  margin-left: 6px;
}

.common > h2 {
  margin: 0;
}

.common > ul {
  margin: 0;
  padding: 10px 0 0 10px;
  list-style: none;
}

.common > ul > li + li {
  margin-top: 4px;
}

.common > ul > li > ul {
  margin: 0;
  padding: 0 0 0 10px;
  list-style: none;
}

.authority > ul > li > ul > li {
  display: inline-block;
}

.authority > ul > li > ul > li + li::before {
  content: ' | ';
}

.tag > ul > li + li {
  margin-top: 4px;
}

.object {
  composes: common;
  background-color: #F0F5FB;
  color: #305A8D;
}

.procedure {
  composes: common;
  background-color: #F0F5FB;
  color: #305A8D;
}

.authority {
  composes: common;
  background-color: #F3EDF6;
  color: #734592;
}
