.common {
  flex: 1;
  margin: 0;
  background: white;
  width: 100%;
  box-sizing: border-box;
}

.common > div {
  width: 100%;
  box-sizing: border-box;
  background: inherit;
  padding-top: 10px;
}

.normal {
  composes: common;
}

.full {
  composes: common;
}

.docked > div {
  position: fixed;
  left: 0;
  box-shadow: 0 3px 12px -6px rgba(0, 0, 0, 0.3);
  z-index: 99;
  padding: 10px;
}

.normal.docked > div {
  width: calc(calc(100% - 7px) * .7);
}
