.common {
  display: flex;
  align-items: baseline;
}

.common > div:first-child {
  width: 220px;
}

.common > div {
  width: 80px;
}

.common > div:last-child {
  width: 440px;
}

.common :global(.cspace-input-TextInput--common),
.common :global(.cspace-input-DropdownInput--common) {
  display: inline-block;
  width: 200px;
}
