.common {
  font-size: 14px;
}

.normal {
  composes: common;
  display: flex;
  align-items: top;
}

.normal > div {
  padding-top: 2px;
  width: 80px;
}

.normal > div:first-child {
  width: 220px;
}

.normal > div:last-child {
  padding-top: 0;
  width: 440px;
}

.normal > div > :global(.cspace-input-TextInput--common),
.normal > div > :global(.cspace-input-DropdownInput--common),
.normal > div > :global(.cspace-input-RepeatingInput--common) {
  display: inline-block;
  width: 300px;
}

.inline {
  composes: common;
  display: inline;
  border: 1px solid rgb(220, 220, 220);
  padding: 0 4px;
  background: white;
  white-space: nowrap;
}

.inline div {
  display: inline;
}

.inline :global(.cspace-input-Input--common) {
  width: auto;
}
