.common {
  display: flex;
  border-top: 1px solid rgb(220, 220, 220);
  padding: 10px 0;
  font-size: 12px;
  justify-content: space-between;
}

.common > ul {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0 10px;
}

.common > ul li {
  line-height: 24px;
}

.common, .common a {
  color: rgb(115, 115, 115);
  padding: 4px 0;
}

.common > ul:last-of-type {
  text-align: right;
}
