.common {
  display: flex;
  border-top: 1px solid rgb(220, 220, 220);
  padding: 10px 0;
  font-size: 12px;
  justify-content: space-between;
}

.common > ul {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0 10px;
}

.common, .common > ul > li > a {
  color: rgb(160, 160, 160);
}

.common > ul:last-of-type {
  text-align: right;
}
