@value textLabel from '../colors.css';

.common > header {
  font-size: 12px;
  color: textLabel;
  margin-bottom: 5px;
}

.common > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* .common > ul > li {
  display: inline;
} */
