.common {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  image-orientation: from-image;
}

.normal {
  composes: common;
}

.pending {
  composes: common;
  padding: 10px;
}

.error {
  composes: common;
  padding: 10px;
}

.noimage {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250);
  align-items: center;
  justify-content: center;
  font-size: inherit;
  font-weight: 600;
}
