.common :global(.cspace-layout-Modal--common) {
  overflow: auto;
}

.common :global(.cspace-layout-Modal--common > div > div) {
  overflow: auto;
}

.running {
  composes: common;
}

.running p {
  background-image: url(../../images/spinner.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 0 2px;
  margin: 0;
  padding-left: 20px;
}
