.common input {
  height: 32px;
  padding: 6px;
  margin-bottom: 6px;
}

.common > p {
  margin-top: 0;
}

.common > form {
  margin: 0;
}

.common > form > div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.common :global(.cspace-ui-Notification--common) {
  margin-top: 16px;
}

.pending {
  composes: common;
}
