.common {
  text-align: center;
}

.common input {
  height: 32px;
  padding: 6px;
  margin-bottom: 6px;
}

.common a + span {
  display: block;
  color: #73AA4F;
}

.common > p {
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 0 2px;
  margin-top: 0;
}

.common > form {
  margin: 0;
}

.common > form > div {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.common :global(.cspace-ui-Notification--common) {
  margin-bottom: 20px;
}

.pending {
  composes: common;
}

.pending > p {
  background-image: url(../../images/spinner.svg);
  padding-left: 20px;
}

.success {
  composes: common;
}

.success > p {
  background-image: url(../../images/success.svg);
  padding-left: 20px;
}
