.common {
  position: relative;
}

.normal {
  composes: common;
}

.normal > :global(.cspace-ui-MiniViewPopup--common) {
  left: 1px;
  top: calc(100% - 11px);
}

.embedded {
  composes: common;
}

.embedded > :global(.cspace-ui-MiniViewPopup--common) {
  top: 100%;
}
