.common {
  padding: 10px 10px 0 10px;
  width: 400px;
}

.common > h3 {
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  display: flex;
}

.common > h3 > a {
  flex: 1 1 auto;
}

.authority {
  composes: common;
  background-color: #F3EDF6;
}

.audit {
  composes: common;
  background-color: #F0F5FB;
}

.procedure {
  composes: common;
  background-color: #F0F5FB;
}

.secondaryTitle {
  flex: 0 0 auto;
  margin-left: 4px;
  text-align: right;
  white-space: nowrap;
}

.authority .secondaryTitle {
  color: #734592;
}

.procedure .secondaryTitle {
  color: #305A8D;
}
