.common {
  margin-top: 15px; 
}

.common ul {
  display: flex;
  list-style-type: none;

  margin: 0;
  padding: 0;
}

.common ul a {
  display: inline-block;
  text-decoration: none;
}

.common ul > li {
  flex: none;
  margin-right: 2px;
  color: #4D4D4D;
}

.common ul::after {
  flex: 100%;
  border-bottom: 2px solid #4D4D4D;
  content: "";
}
