.common > div {
  border-bottom: 2px solid rgb(70, 70, 70);
  padding-right: 30px;
}

.normal {
  composes: common;
  color: rgb(70, 70, 70);
}

.active {
  composes: common;
}

.active > div {
  color: rgb(37, 120, 202);
  border-bottom-color: rgb(37, 120, 202);
}
