.common {
  position: fixed;
  left: 10px;
  bottom: 10px;
  max-height: 150px;
  width: calc(100% - 20px);
  z-index: 100;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: white;
  overflow-x: scroll;
}

.common > :global(.cspace-ui-Notification--common) {
  min-height: 100px;
  box-shadow: 3px 0 4px rgba(220, 220, 220, .5);
}

.common > :global(.cspace-ui-Notification--common) > div {
  padding: 10px 20px 10px 10px;
}
