.common {
  position: fixed;
  left: 10px;
  bottom: 10px;
  max-height: 100px;
  width: calc(100% - 20px);
  z-index: 100;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: white;
  overflow-x: scroll;
}
