.common {
  width: 100%;
  position: relative;
  display: flex;
}

.common + .common {
  border-left: 1px solid rgb(220, 220, 220);
}

.common > div {
  padding: 10px 20px 10px 10px;
  overflow-y: auto;
}

.common > div > header {
  font-size: 12px;
  line-height: 20px;
  color: rgb(160, 160, 160);
}

.common > div > div {
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 0 2px;
}

.common ul {
  margin: 0;
  padding: 0;
}

.common ul > li {
  padding-left: 20px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 0 2px;
}

.error {
  composes: common;
  border-top: 2px solid #D80000;
}

.error > div > header {
  color: rgb(219, 161, 161);
}

.error > div > div {
  color: rgb(220, 0, 0);
}

.error ul > li {
  background-image: url(../../images/error.svg);
}

.pending {
  composes: common;
  border-top: 2px solid #444444;
}

.pending ul > li {
  background-image: url(../../images/spinner.svg);
}

.success {
  composes: common;
  border-top: 2px solid #444444;
}

.success ul > li {
  background-image: url(../../images/success.svg);
}
