@value inputHeight from '../dimensions.css';
@value inputBg from '../colors.css';

.common {
  font-size: 12px;
  background: rgb(240, 240, 240);
  box-sizing: border-box;
  height: inputHeight;
  line-height: calc(inputHeight - 2px);
  border: solid rgb(220, 220, 220);
  border-width: 1px 0;
  display: flex;
}

.common > :global(.cspace-ui-PageSizeChooser--common) {
  margin: 0 10px;
}

.common > :global(.cspace-ui-PageSizeChooser--common) :global(.cspace-input-Input--common) {
  font-size: 12px;
}

.common > nav {
  display: flex;
}

.common > nav > ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.common > nav > ul > li > a {
  display: block;
  box-sizing: border-box;
  min-width: inputHeight;
  text-align: center;
  padding: 0 4px;
}

.common > nav :global(.cspace-input-MiniButton--common) {
  width: auto;
  min-width: inputHeight;
  padding: 0 4px;
}

.common > nav :global(.cspace-input-MiniButton--common):enabled:hover {
  cursor: pointer;
}

.common > nav > ul > li > :global(.cspace-input-MiniButton--common) {
  padding: 0 4px;
}

.common > nav > :global(.cspace-input-MiniButton--common) {
  padding: 0 10px;
}

.current > :global(.cspace-input-MiniButton--common) {
  background-color: inputBg;
  font-weight: bold;
  border: 1px solid black;
  color: black;
}
