.common {
  display: flex;
  font-size: 12px;
  background: rgb(240, 240, 240);
  border: 1px solid rgb(220, 220, 220);
  box-sizing: border-box;
  height: 22px;
  line-height: 22px;
  justify-content: center;
}

.common > ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.common > ul > li > a {
  display: block;
  box-sizing: border-box;
  min-width: 22px;
  text-align: center;
  padding: 0 4px;
}

.common :global(.cspace-input-MiniButton--common) {
  width: auto;
  min-width: 22px;
  padding: 0 4px;
}

.common :global(.cspace-input-MiniButton--common):enabled:hover {
  cursor: pointer;
}

.common > ul > li > :global(.cspace-input-MiniButton--common) {
  padding: 0 4px;
}

.common > :global(.cspace-input-MiniButton--common) {
  padding: 0 10px;
}
