.common {
  background-image: url(../../images/collectionspace.svg);
  background-position: 0 48px;
  background-repeat: no-repeat;
  background-size: auto 44px;

  width: 1050px;
  
  margin-left: auto;
  margin-right: auto;
  padding: 140px 0;
}
