.common {
  flex: 1 1 auto;
  font-size: 12px;
  text-align: right;
}

.common button {
  white-space: nowrap;
}

.common ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.common ul > li {
  white-space: nowrap;
}
