@value tabHeight from '../dimensions.css';

.common {
  width: 30%;
  padding: tabHeight 0 10px 1px;
}

.common :global(.cspace-layout-Panel--common) {
  margin: 0;
}

.common :global(.cspace-layout-Panel--common) > div {
  padding: 0;
}

.common :global(.cspace-layout-Table--common) {
  font-size: 12px;
}

.object {
  composes: common;
}

.procedure {
  composes: common;
}

.utility {
  composes: common;
}

.authority {
  composes: common;
}

.object :global(.cspace-layout-Panel--common),
.procedure :global(.cspace-layout-Panel--common),
.utility :global(.cspace-layout-Panel--common) {
  background-color: rgba(156, 185, 211, .2);
}

.authority :global(.cspace-layout-Panel--common) {
  background-color: rgba(209, 157, 194, .2);
}
