.common {
  margin: 0;
  padding: 0 10px 0 0;
  background: white;
}

.common > header {
  display: flex;
  align-items: baseline;
}

.common > header > * {
  flex: 1 1 auto;
}

:global(.cspace-layout-Panel--common) + :global(.cspace-input-Label--common) {
  margin-top: 10px;
}
