.common > ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.common > ul > li {
  height: 24px;
  padding: 4px 10px 0 10px;
  box-sizing: border-box;
  color: #739CD2;
  background: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
}