.common {
  flex: 1;
  margin: 0;
  background: white;
}

.common > footer {
  margin-bottom: 10px;
}


.common > footer > :global(.cspace-ui-ButtonBar--common) {
  text-align: right;
}

:global(.cspace-layout-Panel--common) + :global(.cspace-input-Label--common) {
  margin-top: 10px;
}

.normal {
  composes: common;
  padding-right: 10px;
}

.full {
  composes: common;
}
