.common {
  background: inherit;
}

.common > .inner {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  background: inherit;
}

.common .title, .common .recordType {
  margin: 0;
}

.common .title {
  flex: 1 1 auto;
  padding-right: 10px;
}

.common .recordType {
  flex: 1 1 auto;
  text-align: right;
  color: #739CD2;
}

.docked {
  composes: common;
}

.docked > .inner {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.docked .title {
  padding-right: 20px;
}
