.common {
  width: 30%;
  padding: 31px 0 10px 1px;
}

.common :global(.cspace-layout-Panel--common) {
  margin: 0;
  background-color: rgba(156, 185, 211, .2);
}

.common :global(.cspace-layout-Panel--common) > div {
  padding: 0;
}

.common :global(.cspace-layout-Table--common) {
  font-size: 12px;
}
