.common {
  flex: 1;
  margin: 0;
  background: white;
  width: 100%;
  box-sizing: border-box;
}

.common > header > div {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.docked {
  composes: common;
  position: fixed;
  width: calc(calc(100% - 7px) * .7);
  left: 0;
  top: 65;
  box-shadow: 0 3px 12px -6px rgba(0, 0, 0, 0.3);
  z-index: 99;
  padding: 10px;
}
