.common {
  flex: 1;
  margin: 0;
  padding: 0 10px 0 0;
  background: white;
}

.common > header {
  display: flex;
  margin-top: 10px;
  align-items: baseline;
}

.common > footer {
  margin-bottom: 10px;
}

:global(.cspace-layout-Panel--common) + :global(.cspace-input-Label--common) {
  margin-top: 10px;
}
