.common {
  flex: 1;
  background: white;
  padding: 0 10px 0 0;
}

.common > header {
  margin: 10px 0;
}

.common > div > p {
  margin: 10px 0;
}

.common > div > :global(.cspace-ui-RecordEditor--common) {
  padding-right: 0;
}
