.common {
  background-color: #F0F5FB;
}

.common > header {
  padding: 10px;
}

.common > header > h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #305A8D;
}

.common > header > div {
  display: flex;
  align-items: baseline;
}

.common > header > div > :global(.cspace-ui-WorkflowStateIcon--common) {
  margin-right: 4px;
}

.common > header > div > h1 {
  margin: 0;
  flex: 1 1 auto;
}

.common > header > div > :global(.cspace-ui-ButtonBar--common) {
  text-align: right;
  white-space: nowrap;
}
