.common {
  flex: 1;
  background: white;
}

.common > header {
  margin: 10px 0;
}

.common > div {
  margin-bottom: 10px;
}

.common > div > p {
  margin: 10px 0;
}

.common > div > :global(.cspace-ui-RecordEditor--common) {
  padding-right: 0;
}

.normal {
  composes: common;
  padding-right: 10px;
}

.full {
  composes: common;
}
