.common {
  min-height: 300px;
}

.common :global(.cspace-ui-Notification--common) {
  margin-top: 20px;
  box-shadow: 0 0 4px rgba(200, 200, 200, .5);
}

.common input {
  width: 40%;
  height: 32px;
  padding: 6px;
  margin-bottom: 6px;
}