@import 'https://fonts.googleapis.com/css?family=Open+Sans:400';

body {
  margin: 0;
  padding: 10px;
}

.common a {
  color: #4D4D4D;
}

.common {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #4D4D4D;
}

.common h1, .common h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0;
}
