@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  margin: 0;
  padding: 10px;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #4D4D4D;
}

body :global(.material-icons) {
  font-size: 12px;
}

a {
  color: #4D4D4D;
}

h1, h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0;
}

.common {
}
