@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600';
@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0&icon_names=close,format_list_bulleted,grid_view,vertical_split';

body {
  margin: 0;
  padding: 10px 10px 110px 10px;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;

  background-color: white;
  color: #4D4D4D;
}

body :global(.material-icons) {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

a {
  color: #4D4D4D;
}

a:focus {
  outline: 1px dotted black;
}

a:disabled {
  color: rgba(77, 77, 77, .4);
}

a:visited * {
  border-color: currentColor;
}

h1, h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 16px 0;
}

p {
  margin: 16px 0;
}

input[type="checkbox"] {
  margin-left: 0;
  margin-right: 0;
}

.common {
}
