.common :global(.cspace-layout-Modal--common) {
    width: 40%;
}

.queryList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.queryList > li {
    align-items: center;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.querySummary > strong {
    margin-right: 8px;
}

.querySummary > span {
    color: #595959;
}

.actions {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    gap: 4px;
    margin-left: 8px;
}
