.common :global(.cspace-layout-Modal--common) {
  width: 80%;
}

.common :global(.cspace-layout-Modal--common) > div {
  padding-top: 0;
  padding-bottom: 0;
}

.common :global(.cspace-ui-SearchResultTable--common) {
  padding-bottom: 10px;
}

.common :global(.cspace-ui-SearchResultTableHeader--common) button {
  border: none;
  padding: 0;
  font: inherit;
  text-decoration: underline;
  cursor: pointer;
  color: inherit;
  background: none;
}

.common :global(.cspace-ui-SearchResultTableHeader--common) button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
