:global(.cspace-ui-SearchResults--body) > * > .grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding: 5px;
}

:global(.cspace-ui-SearchResults--full) > * > .grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  padding: 5px;
}

.card {
  background:rgb(255, 255, 255);
  width: 100%;
}

.card img {
  padding: 10px;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}

.summary {
  padding: 5px 10px;
}
