@value textMedium from '../colors.css';
@value inputHeight from '../dimensions.css';

.common {
  width: calc(inputHeight - 2px);
}

.common > div {
  height: calc(inputHeight - 2px);
  text-align: center;
  font-size: 12px;
  line-height: inputHeight;
  background: white;
  color: textMedium;
}
