:global(.cspace-ui-SearchResults--body) > * > .grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 15px;
}

:global(.cspace-ui-SearchResults--full) > * > .grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 15px;
}

.grid :global(.cspace-ui-Image--noimage) {
  aspect-ratio: 1/1;
  margin: 10px;
  width: auto;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  background:rgb(255, 255, 255);
  width: 100%;
  border: 1px solid rgb(220, 220, 220);
  box-sizing: border-box;
}

.card img {
  padding: 10px;
  max-width: 100%;
  object-fit: cover;
}

.summary {
  padding: 5px 10px;
  display: flex;
}

.summary > p {
  font-weight: bold;
  margin: 0 0 0 5;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.info h2 {
  margin: 0;
  font-size: 1em;
  font-weight: bolder;
}

.info p {
  margin-bottom: 0;
  margin-top: 0;
}

.mt10 {
  margin-top: 10px;
}
