.detail {
  display: flex;
  flex-direction: column;
  gap: calc(.25rem * 4);
}

.innerDetail {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(220, 220, 220);
  padding: 30px;
}

.innerDetail img {
  max-height: 128px;
  max-width: 20%;
  width: auto;
  margin-right: 5px;
}

.detailImg {
  width: 128px;
  height: 128px;
  margin-right: 5px;
  background:rgb(220, 220, 220);
}

.detailCheckbox {
  margin-left: auto;
}

.detailList {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}
