.common {
  padding: 10px;
  margin: 0;
}

.normal {
  composes: common;
  display: flex;
}

.normal > * {
  display: block;
  flex: 1 1;
}

.normal :global(.cspace-input-TextInput--normal) {
  margin-bottom: 0;
}

.error {
  composes: common;
}

.pending {
  background: url(../../images/spinner.svg) no-repeat;
  background-position: 8px -2px;
  padding-left: 34px;
}
