.results > table {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}

/* todo: flex col sizing */
.results > table > thead {
  border: 1px solid rgb(220, 220, 220);
  border-width: 1px 0;
  background: rgb(240, 240, 240);
  box-sizing: border-box;
  text-transform: none;
  font-size: 12px;
  font-weight: inherit;
}

.results > table > thead > tr {
  height: 23px;
  overflow: hidden;
  padding-right: 0px;
}

.results > table > thead > tr > th {
  cursor: pointer;
  font-size: 12px;
  font-weight: inherit;
  text-decoration: underline;
}

.results > table > thead > tr > th:focus {
  outline: 1px dotted black;
}

/* todo: flex col sizing */
.results > table > tbody > td {
  height: 23px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1856px;
  padding-right: 0px;
}

.results > table > tbody > tr:hover {
  background-color: #ACC9EB;
  cursor: pointer;
}

.results > table > tbody > tr > a {
  width: 100%;
  display: inline-block;
  text-decoration: none;
}

.even {
  background: white;
}

.odd {
  background: #f0f5fb;
}
