.common :global(.cspace-layout-Modal--common) {
  width: 80%;
}

.common :global(.cspace-layout-Modal--common) > div {
  padding-top: 0;
  padding-bottom: 0;
}

.common :global(.cspace-ui-SearchResultTable--common) {
  padding-bottom: 10px;
}
