.common {
  display: flex;
  width: 70%;
}

.common > div {
  flex: 1 1 auto;
}

.common > div:last-child {
  text-align: right;
}

.common > div:last-child > span {
  opacity: .5;
}

.common > div:last-child > a,
.common > div:last-child > span {
  padding-left: 14px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: -2px center;
}

.common > div > a[rel="prev"],
.common > div:last-child > span:first-child {
  background-image: url(../../images/prevLink.svg);
}

.common > div > a[rel="next"],
.common > div:last-child > span:last-child {
  background-image: url(../../images/nextLink.svg);
}
