.common {
  padding: 10px;
  margin: 0;
}

.common button {
  border: none;
  padding: 0;
  font: inherit;
  text-decoration: underline;
  cursor: pointer;
  color: inherit;
  background: none;
}

.common button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.normal {
  composes: common;
  display: flex;
}

.normal > * {
  display: block;
  flex: 1 1;
}

.normal :global(.cspace-input-TextInput--normal) {
  margin-bottom: 0;
}

.error {
  composes: common;
}
