.detail {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.innerDetail {
  display: flex;
  flex-direction: row;
  margin: 2px;
}

.detailImg {
  width: 128px;
  height: 128px;
  margin-right: 5px;
  background:rgb(220, 220, 220);
}

.detailCheckbox {
  margin-right: 5px;
}

.detailList {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}
