.common {
  background: white;
  box-sizing: border-box;
  margin: 0;
}

.common > header + section {
  margin-top: 10px;
}

.common > footer {
  margin: 10px 0;
}

.common > footer > :global(.cspace-ui-ButtonBar--common) {
  text-align: right;
}
