.common {
  display: flex;
  align-items: baseline;
  border-top: 1px solid rgb(220, 220, 220);
  padding: 4px 10px;
  background: rgb(240, 240, 240);
}

.common > :global(.cspace-input-CheckboxInput--common) {
  align-self: center;
  margin-right: 10px;
}

.common > :global(.cspace-ui-ButtonBar--common) {
  margin-left: 10px;
}

.common > :global(.cspace-input-CheckboxInput--indeterminate) > input + span {
  background-image: url(../../images/unselect.svg);
}
