@value textLight, textDark from '../colors.css';

body {
  background-color: #F0F5FB;
}

.common {
  margin: 50px auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 50px 0;
  width: 420px;
  background-color: white;
}

.common > header {
  text-align: center;
}

.common > main {
  margin-top: 30px;
  padding: 0 50px;
}

.common a {
  color: inherit;
}

.common a + a {
  margin-top: 8px;
}

.common :global(.sso) a, .common button {
  display: block;
  box-sizing: border-box;
  outline-offset: -1px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 8px 10px 8px 34px;
  width: 100%;
  text-align: left;
  background-color: #fafafa;
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 18px;
  text-decoration: none;
  font: inherit;
}

.common :global(.sso) a:focus, .common button:focus {
  outline: 2px solid textDark;
}

.common :global(.sso) a:hover, .common button:enabled:hover {
  background-color: #fff;
}

.common :global(a.login), .common :global(button.login):enabled {
  background-image: url(../../images/key.svg);
}

.common :global(button.logout):enabled  {
  background-image: url(../../images/logout.svg);
}

.common :global(button.send):enabled {
  background-image: url(../../images/send.svg);
}

.common :global(button.reset):enabled {
  background-image: url(../../images/lockReset.svg);
}

.common :global(.sso) + form {
  margin-top: 36px;
}

.common form {
  box-sizing: border-box;
  margin-top: 16px;
  width: 100%;
}

.common form input {
  display: block;
  padding: 6px;
  width: 100%;
  height: 32px;
  outline-offset: -1px;
  border: 1px solid rgb(220, 220, 220);
  font: inherit;
}

.common form input:focus {
  outline: 2px solid textDark;
}

.common form div + div {
  margin-top: 8px;
}

.common form label > span {
  display: block;
  margin: 3px 0;
  font-size: 12px;
  line-height: 14px;
  color: rgb(80, 80, 80);
}

.common :global(.status) {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 30px 20px 14px 20px;
  background-repeat: no-repeat;
  background-position: center 10px;
  background-size: 16px;
  text-align: center;
}

.common :global(.status.success) {
  background-image: url(../../images/success.svg);
}

.common :global(.status.error) {
  background-image: url(../../images/error.svg);
  border-color: #e6b3b3;
  color: rgb(220, 0, 0);
}
