@value tabHeight from '../dimensions.css';

.normal {
  height: tabHeight;
}

.advanced {
  height: 0;
  position: relative;
}

.advanced > :global(.cspace-ui-SidebarToggleButton--common) {
  top: -31px;
  right: 0;
}
