@value tabHeight from '../dimensions.css';

.common {
  height: 0;
  position: relative;
}

.common > :global(.cspace-ui-SidebarToggleButton--common) {
  top: -31px;
  right: 0;
  width: max-content;
}
