@value buttonBg from '../colors.css';
@value inputHeight from '../dimensions.css';

.flex {
  display: flex;
  margin-right: inputHeight;
}

.mt2 {
  margin-top: 2px;
}

.mr5 {
  margin-right: 5px;
}

.sortByButton {
  height: inputHeight;
  width: inputHeight;
  border-radius: 0 3px 3px 0;
  background-color: buttonBg !important;
}

.ascending {
  background-image: url(../../images/collapseWhite.svg) !important;
}

.descending {
  background-image: url(../../images/expandWhite.svg) !important;
}
