.common {
  position: relative;
}

/* .common > button {
  position: absolute;
  top: 0;
  right: 0;
} */

.common > header {
  text-align: right;
}

.common + :global(.cspace-layout-Panel--common) {
  margin-top: 10px;
}
