.common {
  background: inherit;
}

.common > div {
  padding: 10px;
  box-sizing: border-box;
  background: inherit;
}

.common > div > nav {
  height: 22px;
}

.common > div > div {
  display: flex;
}

.common > div > div > h1, .common > div > div > aside > h2 {
  margin: 0;
}

.common > div > div > h1 {
  flex: 1 1 auto;
  padding-right: 10px;
}

.common > div > div > aside > h2 {
  flex: 1 1 auto;
  text-align: right;
  color: #739CD2;
}

.common > div > div:last-child {
  margin-top: 4px;
}

.docked {
  composes: common;
}

.docked > div {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.docked > div > h1 {
  padding-right: 20px;
}

.docked > div > div:last-child {
  padding-right: 10px;
}