.common {
  background: inherit;
}

.common > div {
  box-sizing: border-box;
  background: inherit;
  padding: 10px 0;
  min-height: 75px;
}

.common > div > nav {
  height: 22px;
  box-sizing: border-box;
  padding: 0 20px 0 10px;
}

.common > div > div:first-of-type {
  padding: 0 10px;
  display: flex;
}

.common > div > div > h1, .common > div > div > aside > h2 {
  margin: 0;
}

.common > div > div > h1 {
  flex: 1 1 auto;
  padding-right: 10px;
}

.common > div > div > aside > h2 {
  flex: 1 1 auto;
  text-align: right;
}

.object > div > div > aside > h2,
.procedure > div > div > aside > h2 {
  color: #739CD2;
}

.authority > div > div > aside > h2 {
  color: #78449A;
}

.docked {
  composes: common;
}

.docked > div {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.docked > div > div > h1 {
  padding-right: 20px;
}

.docked > div > :global(.cspace-ui-Subtitle--common) {
  padding-right: 20px;
}

.docked > div > nav {
  padding-right: 16px;
}
