.common {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center center;
  flex: 0 0 auto;
}

.locked {
  composes: common;
  background-image: url(../../images/locked.svg);
}
