@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600';

.CSpaceUI {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 12px;
  color: #4D4D4D;
}

.CSpaceUI input {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 12px;
  width: 300px;
  padding: 6px;
  margin-bottom: 4px;
  
  outline: none;
  border: 1px solid #DDDDDD;
}

.CSpaceUI input:focus {
  outline: 1px solid #4D4D4D;
  outline-offset: -1px;
}

.CSpaceUI button {
  font-size: 12px;
  padding: 6px;
  border: none;
  margin: 0;
  color: #FFFFFF;
  background-color: #73AA4F;
  border: 1px solid #73AA4F;
  border-radius: 3px;
  outline: none;
}

.CSpaceUI button:hover, .CSpaceUI button:focus {
  border-color: #4D4D4D;
  outline: none;
}

.CSpaceUI button:hover {
  background-color: #4A7F28;
  box-shadow: 0 0 4px 0 #E5E5E5;  
}

.CSpaceUI button::-moz-focus-inner {
  border: 0;
}

.CSpaceUI ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.CSpaceUI nav {
  margin-top: 15px;  
}

.CSpaceUI nav > ul {
  display: flex;
}

.CSpaceUI nav > ul > li {
  margin-right: 2px;
  flex: none;
  color: #4D4D4D;
}

.CSpaceUI nav > ul::after {
  content: "";
  border-bottom: 2px solid #4D4D4D;
  flex: 100%;
}

.CSpaceUI nav a {
  text-decoration: none;
}
