@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600';

.cspace-ui {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 12px;
  color: #4D4D4D;
}

.cspace-ui input {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 12px;
  width: 300px;
  padding: 6px;
  margin-bottom: 4px;
  
  outline: none;
  border: 1px solid #DDDDDD;
}

.cspace-ui input:focus {
  outline: 1px solid #4D4D4D;
  outline-offset: -1px;
}

.cspace-ui button {
  font-size: 12px;
  padding: 6px;
  border: none;
  margin: 0;
  color: #FFFFFF;
  background-color: #73AA4F;
  border: 1px solid #73AA4F;
  border-radius: 3px;
  outline: none;
}

.cspace-ui button:hover, .cspace-ui button:focus {
  border-color: #4D4D4D;
  outline: none;
}

.cspace-ui button:hover {
  background-color: #4A7F28;
  box-shadow: 0 0 4px 0 #E5E5E5;  
}

.cspace-ui button::-moz-focus-inner {
  border: 0;
}

.cspace-ui .logo {
  width: 273px;
  height: 44px;
  display: inline-block;
}

.cspace-ui .logo a {
  background: url(../images/logo.svg) no-repeat;
  display: block;
  height: 100%;
  width: 100%;
}

.cspace-ui ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.cspace-ui nav {
  margin-top: 15px;  
}

.cspace-ui nav > ul {
  display: flex;
}

.cspace-ui nav > ul > li {
  margin-right: 2px;
  flex: none;
  color: #4D4D4D;
}

.cspace-ui nav > ul::after {
  content: "";
  border-bottom: 2px solid #4D4D4D;
  flex: 100%;
}

.cspace-ui nav a {
  text-decoration: none;
}
